<div class="homeMain">
  <div class="sideNav">
    <h3 id="sideNavTitle">MOOD</h3>
    <h6 id="sideNavSubTitle">A Social Music Experience</h6>
    <ul class="navList">
      <li class="navListItem navItemSelected"><a href="/home">Home</a></li>
      <li class="navListItem"><a href="/mood">My MOOD</a></li>
      <li class="navListItem"><a href="/artists">My Artists</a></li>
      <li class="navListItem"><a href="/songs">My Songs</a></li>
    </ul>
  </div>
  <div class="centerContainer">
    <div class="profileContainer">
      <h3 id="profileName">hello, <%= name %></h3>
    </div>
    <h2 class="containerHeading">Playlists from your favorites</h2>
    <div class="topArtistContainer">
      <% let rankCount = 0; %> <% topArtists.forEach((artist) => { %> <%
      rankCount++ %>
      <form name="viewPlaylist-<%=artist.id%>" method="POST" action="/home/viewPlaylist/<%=artist.id%>">
        <div class="albumContainer" onclick="document.forms['viewPlaylist-<%=artist.id%>'].submit();">
          <h1 class="contentRankingHeading"><%= rankCount %></h1>
          <img
            class="artistPlaylistCover"
            src="<%=artist.images[0].url%>"
            alt="<%=artist.name%> image"
          />
          <div class="albumName"><%=artist.name%></div>
        </div>
      </form>
      <% }) %>
    </div>
  </div>
</div>
